*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    width: 60%;
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(113, 2, 113),rgba(223, 3, 69, 0.667));
    color: #ffffffec;
    padding: 10px;
   
}

.calculator{
    width: 45%;
    max-width: 500px;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 2%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-transform: uppercase;
   
}
.date{
    margin: 40px 0;
    padding: 30px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.date input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    
}
.date button{
    background: #f6f660;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #110000;
    cursor: pointer;
    font-style: italic;
}
#result{
    font-size: 150%;
}
#result span{
    color: #13023fdc;
}